*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display:grid;
    grid-template-rows: 6rem 1fr;
    background-color:#8ecae6; 
}
header{
    display:grid;
    grid-auto-flow: column;
    place-content: center;
    gap: 2rem;
    padding: 1rem 2rem;
   
}
.header.item{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: white;
    background-color:#023047;
}
.header.item:hover{
    filter: brightness(2);
}
.header.item:active{
    filter: brightness(0.8);
}
main{
    display:grid;
    grid-template-rows: auto 1fr;
    gap: 30px;
    padding: 1rem 2rem;

}
.text{
    font-size: 1.3rem;
    font-weight: bold;
    /* color: #ff8c5b; */
    max-width: 75%;
    place-self:  start center ;
}