*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display:grid;
    grid-template-rows: 6rem 1fr;
    background-color: #8ecae6; 
}
header{
    display:grid;
    grid-auto-flow: column;
    place-content: center;
    gap: 2rem;
    padding: 1rem 2rem;
}
.header.item{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: white;
    background-color:#023047;
}
.header.item:hover{
    filter: brightness(2);
}
.header.item:active{
    filter: brightness(0.8);
}
main{
    display:grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
}
.title{
    display:grid;
    place-self: center;
}
.title h1 {
    color: rgba(4, 4, 4, 0.777)
}
.title h3 {
    color: rgba(84, 81, 81, 0.777)
}
.title-link{
    text-decoration: none;
    color: white;
    background-color:#023047;
    border-radius: 10px;
    padding: 0.1rem 1rem;
}
.image{
    display:grid;
    place-self:  center start;
}
.image img{
    width: 300px;
    border-radius: 20px ;
   
}